.zoneJeu{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    height:100vh;

}
.canvas{
    background-color: black;
    opacity: 0.9;
    border-radius: 25px;
}
.titre{
    text-align: center;
}
#btn-reload{
    display: none;
    border-style: none;
    background-color: rgba(0, 128, 0, 0.769);
    border-radius: 10px;
    width: 150px;
    height: 50px;
    font-size: large;
    color: white;
}
.score{
    background-color: rgba(0, 128, 0, 0.493);
    color: white;
    font-size: larger;
    height: 100px;
    border-radius: 4px;
    text-align: center;
    padding-top: 10px;
}
.score span{
    display: block;
    padding-top: 20px;
}
.login{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.btn{
    background-color: green;
    color: white;
    height: 30px;
}
input{
    padding: 5px;
    border-style: none;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.324);
}
#connexion, #inscription{
    background-color: rgba(0, 128, 0, 0.372);
    padding: 50px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.connexion{
    display: none;
}
.aide{
    background-color: white;
    padding: 5px;
    font-size: 14px;
    text-align: center;
}
#reload{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
}
#in{
    display: none;
}